@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100;1,300;1,500&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
